<!DOCTYPE html>
<html>
    <head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="application-name" content="EnBabyDB"/>
		<title>{% block title %}欢迎来到英贝网!{% endblock %}</title> 
      		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
      		<script src="http://libs.baidu.com/jquery/2.0.3/jquery.min.js"></script>
      		<script type="text/javascript" src="/js/ajaxfileupload.js"></script>
      		<link rel="stylesheet" type="text/css" href="/css/ajaxfileupload.css">
      		{% block stylesheets %}{% endblock %}
      		<!-- Latest compiled and minified CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<!-- Latest compiled and minified JavaScript -->
		<script src="/js/bootstrap.min.js"></script>
		{% block javascript %}
		{% endblock %}  
    </head>
    <body>
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Manager</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Series <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li> <a href="{{path('series_index')}}">Index</a> </li>
                  <li><a href="{{path('series_info',{'seriesId':'new'})}}">New</a></li>
                  <li> <a href="">Search</a> </li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Books <span class="caret"></a>
                <ul class="dropdown-menu">
                  <li> <a href="{{path('books_index')}}">Index</a> </li>
                  <li><a href="{{path('books_info',{'isbn':'new'})}}">New</a></li>
                  <li> <a href="">Search</a> </li>
                </ul>
              </li>

            </ul>
            <ul class="nav navbar-nav navbar_right"></ul>
          </div>
        </div> 
      </div>



    	{% block body %}
    	{% endblock %}
	{% block footerjavascript %}
	{% endblock %}  
    </body>
</html>
