
<!DOCTYPE HTML>
<html lang="en">
	<head>
	  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	  <title></title>
	</head>
	<body>
		<a href="{{path('series_info',{'seriesId':'newseries'})}}">Create New Series</a>
		<ul>
		{% for s in series%}
		<li>
			<table border="1">
				<tr>
					<td>ID</td>
					<td><a href="{{path('series_info',{'seriesId':s.Id})}}" >{{s.Id}}</a></td>
				</tr>
				<tr>
					<td>DisplayName</td>
					<td>{{s.DisplayName}}</td>
				</tr>
				<tr>
					<td>Description</td>
					<td>{{s.Description}}</td>
				</tr>
				<tr>
					<td>LinkToBuy</td>
					<td>{{s.LinkToBuy}}</td>
				</tr>
				<tr>
					<td>Snapshot</td>
					<td><img src="{{s.Snapshot}}" width="600" height="300"></td>
				</tr>
				<tr>
					<td>Rank</td>
					<td>{{s.Rank}}</td>				
				</tr>
			</table>
		</li>
		{%endfor%}
	</ul>
</body>
</html>

