{% extends '::base.html.twig' %}
{% block title %}Index of Series{% endblock %} 

{% block body %}
<div class="container">
	<div class="page-header">
		
	</div>
	<div>
		<a href="{{path('series_info',{'seriesId':'newseries'})}}" class="btn btn-link">Create New Series</a>
	</div>
		{% for s in series%}
		<div class="row well bs-component">
			<div class="col-lg-6">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title"><a href="{{path('series_info',{'seriesId':s.Id})}}" class="btn-link">{{s.DisplayName}}</a></h3>
					</div>
					<div class="panel-body">
						<span>{{s.Description}}</span>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-lg-offset-1">
				<img src="{{s.snapshot}}" width="100%">
			</div>
		</div>
		{%endfor%}
</div>

{% endblock %}

		


