<!DOCTYPE HTML>
<html lang="en">
	<head>
	  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	  <script src="http://libs.baidu.com/jquery/2.0.3/jquery.min.js"></script>
	  <script type="text/javascript" src="/js/ajaxfileupload.js"></script>
	  <script type="text/javascript">


	  	$(document).ready(function() {
	  		


	  		$("#Save").click(function() {
	  			$.post('{{path("series_update")}}', 
	  			{
	  				Id : $("#Id").html(),
	  				DisplayName : $("#DisplayName").val(),
	  				Description : $("#Description").val(),
	  				LinkToBuy : $("#LinkToBuy").val(),
	  				Snapshot : $("#Snapshot").attr('src'),
	  				Rank : $("#Rank").val()

	  			}, function(data, textStatus, xhr) {
	  				/*optional stuff to do after success */
	  				alert(textStatus);
	  			});
	  		});		

	  		$("#Remove").click(function() {
	  			$.post('{{path("series_remove")}}', 
	  			{
	  				Id : $("#Id").html()
	  			}, function(data, textStatus, xhr) {
	  				/*optional stuff to do after success */
	  				if(data.MSG =='1')
	  				{
	  					alert("Remove successfully!");
	  				}else{
	  					alert("Remove failed!");
	  				}
	  			});
	  		});		
	  	});

	  	function ajaxFileUpload()
				{
					//starting setting some animation when the ajax starts and completes
					$("#loading")
					.ajaxStart(function(){
						$(this).show();
					})
					.ajaxComplete(function(){
						$(this).hide();
					});
		
		/*
			prepareing ajax file upload
			url: the url of script file handling the uploaded files
      fileElementId: the file type of input element id and it will be the index of  $_FILES Array()
			dataType: it support json, xml
			secureuri:use secure protocol
			success: call back function when the ajax complete
			error: callback function when the ajax failed
			
                */
		$.ajaxFileUpload
		(
			{
				url:"{{path('series_snapshotupload')}}", 
				//url:"/doajaxfileupload.php", 
				secureuri:false,
				fileElementId:'fileToUpload',
				dataType: 'json',
				success: function (data, status)
				{
					if(typeof(data.MSG) != 'undefined')
					{
						if(data.MSG == '1')
						{
							alert(data.Location);
							$("#Snapshot").attr('src',data.Location);
						}else
						{
							alert("Upload failed!");
						}
					}
				},
				error: function (data, status, e)
				{
					alert(e);
				}
			}
		)
		
		return false;

	}  

	  </script>
	  <title>{{series.Id}}</title>
	</head>
	<body>
		<div>
			<h1>ID:<span id='Id'>{{series.Id}}</span></h1>
		</div>
		<div>Index Information</div>
		<div>
			<div>
				<div>DisplayName</div>
				<div><input id='DisplayName' value='{{series.DisplayName}}'></div>
			</div>
			<div>
				<div>Description:</div>
				<div><textarea rows='5' cols='80' id='Description'>{{series.Description}}</textarea></div>
			</div>
			<div>
				<div>LinkToBuy</div>
				<div><input id='LinkToBuy' value='{{series.LinkToBuy | default("www.amazon.cn")}}'></div>
			</div>
			<div>
				<div><img id='Snapshot' src='{{series.Snapshot | default("/img/none.png")}}'></div>
				<div><input id="fileToUpload" type="file" size="45" name="fileToUpload" class="input"></div>
				<div><button class="button" id="buttonUpload" onclick="return ajaxFileUpload();">Upload</button></div>
			</div>
			<div>
				<div>Rank</div>
				<div><input id='Rank' value='{{series.Rank | default("100")}}'></div>
			</div>
		</div>
		<div>
			<table>
				<tbody>
					<tr>
						<td><div id='Save'>Save</div></td>
						<td><div id='Remove'>Remove</div></td>
						<td><a href="{{path('series_index')}}">Return</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>

