{% extends '::base.html.twig' %}

{% block title %}{{book.ISBN}}{%endblock%}

{%block javascript %}
<script type="text/javascript" >  
function joinAudioFiles()
{
	var audios = $("#AudioFiles").find("audio");
	var source = new Array();
	for(var i=0;i<audios.length;i++)
	{
		if(audios[i].getAttribute('data-valid') == 'true')
		{
			source[i] = audios[i].getAttribute('data-src');
		}  		
	}
	return source.join(';');
}

function expandAudioFiles(sources)
{
	var source = sources.split(';');
	for (var i = 0; i < source.length; i++) 
	{
		addAudio(source[i]);
	}
}

function addAudio(source)
{
	if(source!=''){
		var container = $("<div style='position:relative'></div>");
		var removeBtn = $("<button type='button' class='remove-audio-btn btn-xs btn-primary' style='position:absolute;top:0;right:0'><span class='glyphicon glyphicon-trash'></span></button>");
		var audio = $("<audio data-valid='true' controls='controls'></audio>");
		audio.attr('src',source);
		audio.attr('data-src',source);
		container.append(audio);
		container.append(removeBtn);
		$("#AudioFiles").append(container);
	}
}

$(document).ready(function() {
	expandAudioFiles("{{book.AudioFiles}}");
	$(document).on('click','.remove-audio-btn',function  () {
	  	var audio = $(this).siblings("audio");
	  	if(audio.attr('data-valid')=='true') {
	  		audio.attr('data-valid','false');
	  		$(this).removeClass('btn-primary')
	  		$(this).addClass('btn-danger');
	  	}else{
	  		audio.attr('data-valid','true');
	  		$(this).removeClass('btn-danger');
	  		$(this).addClass('btn-primary');
	  	}
	  });


$("#Save").click(function() {
	$.post('{{path("books_update")}}', 
	{
		ISBN : $("#ISBN").val(),
		DisplayName : $("#DisplayName").val(),
		Description : $("#Description").val(),
		LinkToBuy : $("#LinkToBuy").val(),
		Snapshot : $("#Snapshotimg").attr('src'),
		Author : $("#Author").val(),
		AudioFiles: joinAudioFiles(),
		Rank : $("#Rank").val()
	}, 
	function(data, textStatus, xhr) {
	  	alert(textStatus);
	});
});		

$("#Remove").click(function() {
	$.post('{{path("books_remove")}}', 
	{
		ISBN : $("#ISBN").val()
	}, function(data, textStatus, xhr) {
		if(data.MSG =='1')
		{
			alert("Remove successfully!");
		}else{
			alert("Remove failed!");
		}
	});
});	

});

function ajaxFileUpload(loadtype)
{
	//starting setting some animation when the ajax starts and completes
	$("#loading")
	.ajaxStart(function(){
		$(this).show();
	})
	.ajaxComplete(function(){
		$(this).hide();
	});
	var uploadUrl;
	if(loadtype == 'Audio') 
	{
		uploadUrl = "{{path('books_audioupload')}}";
	}
	if(loadtype == 'Snapshot') 
	{
		uploadUrl = "{{path('books_snapshotupload')}}";
	}
	$.ajaxFileUpload
	({
		url: uploadUrl, 
		secureuri:false,
		fileElementId:loadtype,
		dataType: 'json',
		success: function (data, status)
		{
			if(typeof(data.MSG) != 'undefined')
			{
				if(data.MSG == '1')
				{
					alert(data.Location);
					if(loadtype == 'Snapshot')
					{
						$("#Snapshotimg").attr('src',data.Location);
					}
					if(loadtype == 'Audio')
					{
						addAudio(data.Location);
					}
				}else
				{
					alert("Upload failed!");
				}
			}
		},
		error: function (data, status, e)
		{
			alert(e);
		}
	})
	return false;
}  
</script>
{% endblock %}

{% block body %}
	<div class="container">

		<div class="page-header">
			
		</div>
		
		
	<div class="col-lg-6">
		<div class="well bs-component">
			<form class="form-horizontal">
				<fieldset>
					<legend>Book Information</legend>
					<div class="form-group">
						<label for="ISBN" class="col-lg-2 control-label">ISBN</label>
						<div class="col-lg-10"><input id='ISBN' class="form-control" value='{{book.ISBN}}' ></div>	
					</div>
					<div class="form-group">
						<label for="DisplayName" class="col-lg-2 control-label">Book</label>
						<div class="col-lg-10"><input  id='DisplayName' class="form-control" value='{{book.DisplayName}}' ></div>
					</div>
					<div class="form-group">
						<label for="Description" class="col-lg-2 control-label">Description</label>
						<div class="col-lg-10"><textarea id='Description' rows='5'  class="form-control" >{{book.Description}}</textarea></div>
					</div>
					<div class="form-group">
						<label for="LinkToBuy" class="col-lg-2 control-label">LinkToBuy</label>
						<div class="col-lg-10"><textarea id='LinkToBuy' rows='3'  class="form-control" >{{book.LinkToBuy | default("www.amazon.cn")}}</textarea></div>
					</div>
					<div class="form-group">
						<label for="Author" class="col-lg-2 control-label">Author</label>
						<div class="col-lg-10"><input id='Author' class="form-control" value='{{book.Author}}'></div>
					</div>
					<div class="form-group">
						<label for="Rank" class="col-lg-2 control-label">Rank</label>
						<div class="col-lg-10"><input id='Rank' class="form-control" value='{{book.Rank | default("100")}}'></div>
					</div>
					<div class="col-lg-10 col-lg-offset-2">
						<a id='Save' class="col-lg-3  btn btn-info">Save</a>
						<a id='Remove' class="col-lg-3 col-lg-offset-1 btn btn-danger">Remove</a>
						<a href="{{path('books_index')}}" class="col-lg-4 col-lg-offset-1 btn btn-warning">Return</a>
					</div>
				</fieldset>
			</form>
		</div>
		<div>
			<a href="" class="btn-btn-link">Link to Series</a>
		</div>
	</div>

		<div class="col-lg-5 col-lg-offset-1">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Cover</h3>
				</div>
				<div class="panel-body">
					<span class="btn btn-success fileinput-button">
						<i class="glyphicon glyphicon-plus"></i>
						<span>Add files...</span>
					<input id="Snapshot"  type="file"  name="Snapshot">
					</span>
					<button class="btn btn-info" id="SnapshotUpload" onclick="return ajaxFileUpload('Snapshot');">
						<i class="glyphicon glyphicon-upload"></i>
            <span>Start upload</span>
					</button>
					<div><img id='Snapshotimg' src='{{book.Snapshot | default("/img/none.png")}}' width='100%'></div>

				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Audio</h3>
				</div>
				<div class="panel-body">
					<div>
						 <span class="btn btn-success fileinput-button">
							<i class="glyphicon glyphicon-plus"></i>
							<span>Add files...</span>
							<input id="Audio" type="file"  name="Audio" >
						</span>
						<button class="btn btn-info" id="AudioUpload" onclick="return ajaxFileUpload('Audio');">
							<i class="glyphicon glyphicon-upload"></i>
							<span>Start upload</span>
						</button>
					</div>
					<div id="AudioFiles">
					</div>
				</div>
			</div>
		</div>
	</div>
{%endblock%}

