<!DOCTYPE HTML>
<html lang="en">
	<head>
	  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	  <script src="http://libs.baidu.com/jquery/2.0.3/jquery.min.js"></script>
	  <script type="text/javascript" src="/js/ajaxfileupload.js"></script>
	  <!-- Latest compiled and minified CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">

		<!-- Optional theme -->
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">

		<!-- Latest compiled and minified JavaScript -->
		<script src="/js/bootstrap.min.js"></script>

	  <script type="text/javascript">

	  function joinAudioFiles()
	  {
	  	var audios = $("#AudioFiles").find("audio");
	  	var source = new Array();
	  	for(var i=0;i<audios.length;i++)
	  	{
	  		if(audios[i].getAttribute('data-valid') == 'true')
	  		{
	  			source[i] = audios[i].getAttribute('data-src');
	  		}
	  		
	  	}
	  	return source.join(';');
	  }

	  function expandAudioFiles(sources)
	  {
	  	var source = sources.split(';');
	  	for (var i = 0; i < source.length; i++) {
	  		addAudio(source[i]);
	  	}
	  }

	  function addAudio(source)
	  {
	  	if(source!=''){
	  		var container = $("<div></div>");
	  		var removeBtn = $("<button type='button' class='remove-audio-btn btn-xs '><span class='glyphicon glyphicon-trash'></span>remove</button>");
	  		var audio = $("<audio data-valid='true' controls='controls'></audio>");
	  		audio.attr('src',source);
	  		audio.attr('data-src',source);
	  		container.append(audio);
	  		container.append(removeBtn);
	  		$("#AudioFiles").append(container);
	  	}
	  	
	  }


	  	$(document).ready(function() {


	  		expandAudioFiles("{{book.AudioFiles}}");

	  		$(document).on('click','.remove-audio-btn',function  () {
	  			// body..
	  			var audio = $(this).siblings("audio");
	  			if(audio.attr('data-valid')=='true') {
	  				audio.attr('data-valid','false');
	  				$(this).addClass('btn-danger');
	  			}else{
	  				audio.attr('data-valid','true');
	  				$(this).removeClass('btn-danger');
	  			}
	  		});



	  		$("#Save").click(function() {
	  			$.post('{{path("books_update")}}', 
	  			{
	  				ISBN : $("#ISBN").val(),
	  				DisplayName : $("#DisplayName").val(),
	  				Description : $("#Description").val(),
	  				LinkToBuy : $("#LinkToBuy").val(),
	  				Snapshot : $("#Snapshotimg").attr('src'),
	  				Author : $("#Author").val(),
	  				AudioFiles: joinAudioFiles(),
	  				Rank : $("#Rank").val()

	  			}, function(data, textStatus, xhr) {
	  				/*optional stuff to do after success */
	  				alert(textStatus);
	  			});
	  		});		

	  		$("#Remove").click(function() {
	  			$.post('{{path("books_remove")}}', 
	  			{
	  				ISBN : $("#ISBN").val()
	  			}, function(data, textStatus, xhr) {
	  				/*optional stuff to do after success */
	  				if(data.MSG =='1')
	  				{
	  					alert("Remove successfully!");
	  				}else{
	  					alert("Remove failed!");
	  				}
	  			});
	  		});		
	  	});

	  	function ajaxFileUpload(loadtype)
			{
					//starting setting some animation when the ajax starts and completes
					$("#loading")
					.ajaxStart(function(){
						$(this).show();
					})
					.ajaxComplete(function(){
						$(this).hide();
					});
					var uploadUrl;
					if(loadtype == 'Audio') 
					{
						uploadUrl = "{{path('books_audioupload')}}";
					}

					if(loadtype == 'Snapshot') 
					{
						uploadUrl = "{{path('books_snapshotupload')}}";
					}
		
		/*
			prepareing ajax file upload
			url: the url of script file handling the uploaded files
      fileElementId: the file type of input element id and it will be the index of  $_FILES Array()
			dataType: it support json, xml
			secureuri:use secure protocol
			success: call back function when the ajax complete
			error: callback function when the ajax failed		
                */
		$.ajaxFileUpload
		(
			{
				url: uploadUrl, 
				secureuri:false,
				fileElementId:loadtype,
				dataType: 'json',
				success: function (data, status)
				{
					if(typeof(data.MSG) != 'undefined')
					{
						if(data.MSG == '1')
						{
							alert(data.Location);
							if(loadtype == 'Snapshot')
							{
								$("#Snapshotimg").attr('src',data.Location);
							}
							if(loadtype == 'Audio')
							{
								addAudio(data.Location);
							}
						}else
						{
							alert("Upload failed!");
						}
					}
				},
				error: function (data, status, e)
				{
					alert(e);
				}
			}
		)
		
		return false;

	}  

	  </script>
	  <title>{{book.ISBN}}</title>
	</head>
	<body class="container">
		<div>
			<div>ISBN</div>
			<div>
				<input id='ISBN' value='{{book.ISBN}}'>
			</div>
		</div>

		<div>
			<div>
				<div>DisplayName</div>
				<div><input id='DisplayName' value='{{book.DisplayName}}'></div>
			</div>
			<div>
				<div>Description:</div>
				<div><textarea rows='5' cols='80' id='Description'>{{book.Description}}</textarea></div>
			</div>
			<div>
				<div>LinkToBuy</div>
				<div><input id='LinkToBuy' value='{{book.LinkToBuy | default("www.amazon.cn")}}'></div>
			</div>
			<div>
				<div><img id='Snapshotimg' src='{{book.Snapshot | default("/img/none.png")}}'></div>
				<div><input id="Snapshot" type="file"  name="Snapshot" class="input"></div>
				<div><button class="button" id="SnapshotUpload" onclick="return ajaxFileUpload('Snapshot');">Upload</button></div>
			</div>
			<div>
				<div>Author</div>
				<div><input id='Author' value='{{book.Author}}'></div>
			</div>
			<div id="AudioFiles">
			</div>
			<div>
				<input id="Audio" type="file"  name="Audio" class="input">
				<button class="button" id="AudioUpload" onclick="return ajaxFileUpload('Audio');">Upload</button>
			</div>
			<div>
				<div>Rank</div>
				<div><input id='Rank' value='{{book.Rank | default("100")}}'></div>
			</div>
		</div>
		<div>
			<table>
				<tbody>
					<tr>
						<td><div id='Save'>Save</div></td>
						<td><div id='Remove'>Remove</div></td>
						<td><a href="{{path('books_index')}}">Return</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>

