<!DOCTYPE HTML>
<html lang="en">
	<head>
	  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	  <script src="http://libs.baidu.com/jquery/2.0.3/jquery.min.js"></script>
	  <script type="text/javascript" src="/js/ajaxfileupload.js"></script>
	  <script type="text/javascript">

	  function joinAudioFiles()
	  {

	  }


	  	$(document).ready(function() {
	  		$("#Save").click(function() {
	  			$.post('{{path("enbaby_db_manager_bookupdate")}}', 
	  			{
	  				ISBN : $("#ISBN").val(),
	  				DisplayName : $("#DisplayName").val(),
	  				Description : $("#Description").val(),
	  				LinkToBuy : $("#LinkToBuy").val(),
	  				Snapshot : $("#Snapshot").attr('src'),
	  				Author : $("#Author").val(),
	  				AudioFiles: joinAudioFiles(),
	  				Rank : $("#Rank").val()

	  			}, function(data, textStatus, xhr) {
	  				/*optional stuff to do after success */
	  				alert(textStatus);
	  			});
	  		});		

	  		$("#Remove").click(function() {
	  			$.post('{{path("enbaby_db_manager_bookremove")}}', 
	  			{
	  				ISBN : $("#ISBN").val()
	  			}, function(data, textStatus, xhr) {
	  				/*optional stuff to do after success */
	  				if(data.MSG =='1')
	  				{
	  					alert("Remove successfully!");
	  				}else{
	  					alert("Remove failed!");
	  				}
	  			});
	  		});		
	  	});

	  	function ajaxFileUpload(loadtype)
			{
					//starting setting some animation when the ajax starts and completes
					$("#loading")
					.ajaxStart(function(){
						$(this).show();
					})
					.ajaxComplete(function(){
						$(this).hide();
					});
					var uploadUrl;
					if(loadtype == 'Audio') 
					{
						uploadUrl = {{path('enbaby_db_manager_bookaudioupload')}};
					}

					if(loadtype == 'Snapshot') 
					{
						uploadUrl = {{path('enbaby_db_manager_booksnapshotupload')}};
					}
		
		/*
			prepareing ajax file upload
			url: the url of script file handling the uploaded files
      fileElementId: the file type of input element id and it will be the index of  $_FILES Array()
			dataType: it support json, xml
			secureuri:use secure protocol
			success: call back function when the ajax complete
			error: callback function when the ajax failed
			
                */
		$.ajaxFileUpload
		(
			{
				url: uploadUrl, 
				secureuri:false,
				fileElementId:'fileToUpload',
				dataType: 'json',
				success: function (data, status)
				{
					if(typeof(data.MSG) != 'undefined')
					{
						if(data.MSG == '1')
						{
							alert(data.Location);
							$("#Snapshot").attr('src',data.Location);
						}else
						{
							alert("Upload failed!");
						}
					}
				},
				error: function (data, status, e)
				{
					alert(e);
				}
			}
		)
		
		return false;

	}  

	  </script>
	  <title>{{book.ISBN}}</title>
	</head>
	<body>
		<div>
			<div>ISBN</div>
			<div>
				<input id='ISBN' value='{{book.ISBN}}'>
			</div>
		</div>

		<div>
			<div>
				<div>DisplayName</div>
				<div><input id='DisplayName' value='{{book.DisplayName}}'></div>
			</div>
			<div>
				<div>Description:</div>
				<div><textarea rows='5' cols='80' id='Description'>{{book.Description}}</textarea></div>
			</div>
			<div>
				<div>LinkToBuy</div>
				<div><input id='LinkToBuy' value='{{book.LinkToBuy | default("www.amazon.cn")}}'></div>
			</div>
			<div>
				<div><img id='Snapshot' src='{{book.Snapshot | default("/img/none.png")}}'></div>
				<div><input id="fileToUpload" type="file" size="45" name="fileToUpload" class="input"></div>
				<div><button class="button" id="buttonUpload" onclick="return ajaxFileUpload();">Upload</button></div>
			</div>
			<div>
				<div>Author</div>
				<div><input id='Author' value='{{book.Author}}'></div>
			</div>
			<div>
				<div>Rank</div>
				<div><input id='Rank' value='{{book.Rank | default("100")}}'></div>
			</div>
		</div>
		<div>
			<table>
				<tbody>
					<tr>
						<td><div id='Save'>Save</div></td>
						<td><div id='Remove'>Remove</div></td>
						<td><a href="{{path('enbaby_db_manager_bookindex')}}">Return</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>

