{% extends '::mobile.html.twig' %}

{% block title %}
{{ book.DisplayName }}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block mobilePagejavascript %}
<script type="text/javascript"> document.audioFiles = "{{book.audioFiles}}";document.audioFiles_cn = "{{book.audioFiles_cn}}";</script>
<script src="/js/PlayAudio.js"></script>
{% endblock %}

{% block header %}
<a data-rel="back" class="ui-icon-arrow-l ui-btn ui-shadow ui-nodisc-icon  ui-btn-inline ui-btn-icon-left"  data-transition="slide" data-direction="reverse">专辑</a>
<h1>{{ book.DisplayName }}</h1>
<a href="#declarePage" class="ui-icon-info ui-btn ui-shadow ui-nodisc-icon  ui-btn-inline ui-btn-b ui-btn-icon-notext  " data-rel="dialog" data-iconshadow="false" data-transition="flip" data-iconpos="notext">申明</a>
{% endblock %}

{% block content %}
<img style="width:100%;"src="{{book.Snapshot}}" alt="Snapshot" >
<p><strong>{{ book.DisplayName }}</strong></p>
<p> <small>作者: </small><em>{{ book.Author }}</em></p>
<p>{{ book.Description }}</p>
<div id="audioArea">
	{% if audios_en %}
		<div>
			<a id="playbookaudio_en" data-role="button" >绘本试听(英语)</a>
			<audio id="bookaudio_en">
				{% for a_en in audios_en %}
				<source src="{{a_en}}">
				{% endfor %}
			</audio>
		</div>		
	{% endif %}

	{% if audios_cn %}
		<div>
			<a id="playbookaudio_cn" data-role="button" >绘本试听(中文)</a>
			<audio id="bookaudio_cn">
				{% for a_cn in audios_cn %}
				<source src="{{a_cn}}">
				{% endfor %}
			</audio>
		</div>		
	{% endif %}


</div>
{% endblock %}

{% block footer %}
<h1>{{book.DisplayName}}</h1>
{% endblock %}



{% block footerjavascript%}

{% endblock %}